body {
    background-color: #B6BDC5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    margin: 10px;
    border: solid 3px;
    height: 80vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

}

.banner {
    width: 50%;
    max-width: 400px;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.title {
    font-size: 2em;
    font-weight: 700;
}

.content {
    font-size: 2em;
}